@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

body {
    font-family: 'Courier Prime', monospace;
}

button {
  font-family: 'Courier Prime', monospace !important;
}


.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafaf7;
}

.welcome_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_page {
  height: 100vh;
  display: flex;
  padding-top: 20vh;
  align-items: center;
  flex-direction: column;

  div {
    display: flex;

    button {
      align-items: center;
    }

    svg {
      width: 50px;
      height: 50px;
    }
  }

}

.modal {
  display: none;
}

.modal.is-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  margin: 20px 0;
  width: 760px;

  @include mobile {
      width: 100%;
  }

}

.bg-form {
  width: 100%;
  background-color: #88171a;
}

.form {
  display: flex;
  margin: 50px auto 40px auto;
  flex-direction: column;
  max-width: 525px;
  font-weight: bold;
  @include mobile {
    padding: 0 10px;
  }
}

.form__input {
  display: flex;
  span {
    align-self: center;
  }
  input { background-color: #f7f5ed;}
}


.form_generate {
  margin:  0 auto;
}

.filedLabel__name {
  margin-right: 5px;
  padding-top: 5px;
}

.textColorW {
  color: #f7f5ed;
}

.formFieldLabel {
  font-weight: normal;
  
}

.configTable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 760px;
  margin: 20px auto 400px auto;
}

.configTable__item {
  width: 200px;
  margin: 10px;
  cursor: pointer;

  a {
    color: black;
  }
}


.cart__title {
  font-weight: bold;
  font-size: 1.2rem;
}

.card__exipres {
  margin-top: 15px;
  display: flex;
  svg {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
}

.card__time {
  margin-left: 2px;
  font-weight: bold;
}

  




